
.header {
    height: 4rem;
    background-color: #000911;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.button {
    font-size: 18px;
    width: 100px;
    height: 30px;
    border-radius: 35px;
    background: #fff;
    margin-top: 34px;
    color: #000; 
}

#name {
    width: 350px;
    height: 30px;
}

.footer {
    height: 4rem;
    background-color: #000911;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.github {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}