<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header class="header">
    <span>Cadastrando nome</span>
  </header>

  <div class="inputs">
    <h2>Insira seu nome</h2>
    <input type="text" id="name" [(ngModel)]="name" placeholder="Digite seu nome">
    <button class="button" (click)="postData()">Enviar</button>
  </div>

  <footer class="footer">
    <span>Desenvolvido por
      <a href="https://github.com/ArthurBernardoDev" class="github">
        ArthurBernardoDev
      </a>
    </span>
  </footer>
</body>

</html>